html, body {
  margin: 0;
  height: 100%;
  background: rgb(149, 183, 218);
}
#player {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
    left: 100px;
    top: 500px;
 }



 #game {
   position: relative;
   width: 100 vw;
   height: 100vh;
 }
 .pipe {
  position: absolute;
  width: 60px;
  background: green;
}
#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
